@tailwind base;
@tailwind components;
@tailwind utilities;

$magenta: #e40045;
$darkGray: #8f9bb3;
$darkBlue: #2e3a59;
$gray: #e4e9f2;
* {
  font-family: "Inter", serif;
  color: $darkBlue;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

.border-gray{
  border:1px solid $gray;
}
// scrollbars
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $gray;
  border: 2px solid white;
}
hr {
  border-bottom: 1px solid $gray;
  border-top: 0;
}

#navbar {
  color: $darkGray;
  font-size: 14px;
  svg {
    fill: $darkGray;
  }
  li .active.router-link-exact-active {
    p {
      color: $magenta;
    }

    background: rgba(228, 0, 68, 0.05);
    svg {
      fill: $magenta;
    }
  }
  li:nth-child(7) {
    margin-top: 3.5rem;
  }
  #menuWrap {
    background-color: white;
    top: 65%;
  }
}
#dashboard {
  .pill {
    font-size: 14px;
    padding: 1rem 2.3rem;
  }
  .company-icon {
    color: white;
  }
  #monthSelectMob::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  #navbar {
    font-size: 11px;
    li:nth-child(7) {
      margin-top: 0;
    }
    li .active.router-link-exact-active {
      background: none;
    }
  }
}
